@import '../../../../styles/settings';

.lista-viaggio {
  text-align: center;
  margin-top: component-space(8);
  margin-bottom: component-space(8);
}

img {
  margin-top: component-space(6);
}

p {
  @include fontsize(20);
}

.title {
  margin-bottom: component-space(5);
}