<div class="lista-viaggio" id="lista-viaggio-section">
  <h2 class="title">Lista viaggio</h2>
  <p>Ciao, <br>dopo tutte le fatiche dell’organizzazione del matrimonio abbiamo deciso che ci meritiamo un bel Viaggio di Nozze!</p>
  <p>Per essere sicuri di riposarci ed evitare qualsiasi tipo di sforzo abbiamo deciso di fare uno splendido viaggio...</p>
  <img src="../../../../assets/images/fiji.jpg" alt="" />
  <a class="btn btn-primary btn-sm-block" [routerLink]="['/dettagli-lista-viaggio']">Dettagli</a>
</div>