<div class="lista-viaggio" id="lista-viaggio-section">
  <div class="info js--fadeInLeft">
    <h2 class="title">Lista viaggio</h2>
    <p>Ciao, dopo tutte le fatiche dell'organizzazione del matrimonio abbiamo deciso che ci meritiamo un bel Viaggio di Nozze!</p>
    <p>Per essere sicuri di riposarci ed evitare qualsiasi tipo di sforzo abbiamo deciso di fare uno splendido viaggio...</p>
    <a class="btn btn-primary btn-sm-block" [routerLink]="['/dettagli-lista-viaggio']">Dettagli</a>
  </div>
  <img class="js--fadeInRight" src="../../../../assets/images/lista-viaggio.jpg" alt="" />
</div>
