// Responsvive breakpoints for Bootstrap@3.3.7
$screen-xxs-min: 300px !default;
$screen-xs-min: 576px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1280px !default;

$screen-xxs-max: ($screen-xs-min - 1) !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

$breakpoints-min: (xxs: $screen-xxs-min, xs: $screen-xs-min, sm: $screen-sm-min, md: $screen-md-min, lg: $screen-lg-min);
$breakpoints-max: (xxs: $screen-xxs-max, xs: $screen-xs-max, sm: $screen-sm-max, md: $screen-md-max);

// Number of columns in the grid.
$grid-columns: 12 !default;

// Padding between columns. Gets divided in half for the left and right.
$grid-gutters-widths: (
  xxs: 10px,
  xs: 10px,
  sm: 20px,
  md: 20px,
  lg: 20px
) !default;

// Container margins dor breakpoints
$container-margins: (
  xxs: 3%,
  xs: 3%,
  sm: 3%,
  md: 5%,
  lg: 5%
) !default;

// Container sizes
//
// Define the maximum width of `.container` for different screen sizes.

// Main containers width without gutter
$container-widths: (
  xxs: 310px,
  xs: 1010px,
  sm: 1000px,
  md: 1000px,
  lg: 1180px
) !default;

// Define container width with gutter included
$container-xxs: (map-get($container-widths, xxs) + map-get($grid-gutters-widths, xxs)) !default;

$container-xs: (map-get($container-widths, xs) + map-get($grid-gutters-widths, xs)) !default;
$container-sm: (map-get($container-widths, md) + map-get($grid-gutters-widths, sm)) !default;
$container-md: (map-get($container-widths, md) + map-get($grid-gutters-widths, md)) !default;

$container-lg: (map-get($container-widths, lg)+ map-get($grid-gutters-widths, lg)) !default;
