<section class="timeline">
  <div class="container">
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
          <div class="auckland timeline-img-header">
            <h3 class="timeline-title">Auckland, NZ</h3>
          </div>
        <div class="date">1 OTT 2019</div>
        <p>Auckland viene giustamente definita la “città delle vele” per il numero sorprendente di barche che è possibile ammirare nella baia, praticamente a qualsiasi ora del giorno. Il cuore della città è Queen Street, bella e sobria via principale, lungo la quale i negozi di abbigliamento elegante si alternano a quelli di articoli sportivi, alle banche ed uffici cambio, ai teatri e ai ristoranti.</p>
      </div>
    </div> 

    <div class="timeline-item">
        <div class="timeline-img"></div>
        <div class="timeline-content timeline-card js--fadeInRight">
          <div class="paihia timeline-img-header">
            <h3 class="timeline-title">Paihia, NZ</h3>
          </div>
          <div class="date">3 OTT 2019</div>
          <p>Paihia è la principale località turistica della baia delle Isole, nell'estremo nord dell'Isola del Nord della Nuova Zelanda. Situata a circa 60 chilometri a nord di Whangarei, Paihia è vicina alle storiche cittadine di Russell e Kerikeri. In origine il missionario Henry Williams aveva dato il nome di Marsden's Vale alla missione che sarebbe in seguito diventata Paihia.</p>
        </div>
      </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="cp timeline-img-header">
          <h3 class="timeline-title">Coromandel Peninsula, NZ</h3>
        </div>
        <div class="date">5 OTT 2019</div>
        <p>La bellissima penisola di Coromandel, a poche ore di auto da Auckland e da Rotorua, è oggi una delle mete turistiche più apprezzate dai neozelandesi. Caratterizzata nell'entroterra da paesaggi collinari selvaggi per la forza della natura incontrastata, avrete la possibilità di vedere la maggior parte delle piante endemiche del Paese, mentre le coste, disseminate da piccole baie ed isolotti alternano il paesaggio rendendolo sempre vario.</p>
      </div>
    </div>   

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="tnp timeline-img-header">
          <h3 class="timeline-title">Tongariro National Park, NZ</h3>
        </div>
        <div class="date">7 OTT 2019</div>
        <p>Il Tongariro National Park è stato il primo parco naturale istituito in Nuova Zelanda, il quarto più vecchio nel mondo. Questo primato la dice lunga sulla sua bellezza e spettacolarità e ne fa una delle mete più ambite per viaggi naturalistici in questa nazione.</p>
      </div>
    </div>   

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="wellington timeline-img-header">
          <h3 class="timeline-title">Wellington, NZ</h3>
        </div>
        <div class="date">9 OTT 2019</div>
        <p>Attuale capitale della Nuova Zelanda e seconda area urbana, Wellington è posta all'estremo sud dell'Isola del Nord e viene spesso paragonata a San Francisco, per le sue colorate abitazioni, le ripide via ed i cable car. E' conosciuta per il suo freddo clima invernale, causato dai venti antartici che soffiano nello stretto di Cook. D'estate, invece, diventa un centro piacevole, anche se meno animato di Auckland. E' il punto di partenza del traghetto e dei catamarani che collegano quotidianamente l'Isola del Nord all'Isola del Sud.</p>
      </div>
    </div>   

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="marahau timeline-img-header">
          <h3 class="timeline-title">Marahau, NZ</h3>
        </div>
        <div class="date">11 OTT 2019</div>
        <p>Marahau è un piccolissimo insediamento nella regione di Tasman nell'Isola del Sud della Nuova Zelanda, circa 19 chilometri a nord di Motueka. La sua posizione sulla Baia di Tasman e all'ingresso sud del Parco Nazionale di Abel Tasman lo rende una destinazione popolare per gli amanti delle attività all'aria aperta.</p>
      </div>
    </div>   

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="cc timeline-img-header">
          <h3 class="timeline-title">Christchurch, NZ</h3>
        </div>
        <div class="date">12 OTT 2019</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
      </div>
    </div>  

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="lt timeline-img-header">
          <h3 class="timeline-title">Lake Tekapo, NZ</h3>
        </div>
        <div class="date">13 OTT 2019</div>
        <p>Lake Tekapo è un delizioso villaggio alpino nel cuore dell’Isola del Sud. Completamente circondato da montagne si trova sul bordo del lago glaciale omonimo. L’acqua del lago è di un colore turchese intenso ed il cielo è di una straordinaria chiarezza, rendendo infatti Lake Tekapo una delle migliori zone del mondo per sondare il cielo dai suoi osservatori posti sulla cima del Mount John.</p>
      </div>
    </div>   

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="queenstown timeline-img-header">
          <h3 class="timeline-title">Queenstown, NZ</h3>
        </div>
        <div class="date">14 OTT 2019</div>
        <p>Una sbalorditiva bellezza e brividi adrenalinici vi aspettano a Queenstown. La località alpina, situata lungo le sponde del lago Wakatipu, cominciò la sua vita come centro di estrazione dell'oro negli anni '60 dell'800, ma ora è una delle più belle e mondane città della Nuova Zelanda.</p>
      </div>
    </div>  

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="ms timeline-img-header">
          <h3 class="timeline-title">Milford Sound, NZ</h3>
        </div>
        <div class="date">15 OTT 2019</div>
        <p>Milford Sound è un fiordo nel sud-ovest dell'Isola del Sud della Nuova Zelanda. È noto per l'imponente Mitre Peak, oltre a foreste pluviali e cascate come le cascate di Stirling e Bowen, che cadono a picco sui fianchi. Il fiordo è sede di colonie di foche, pinguini e delfini.</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="nadi timeline-img-header">
          <h3 class="timeline-title">Nadi, Figi</h3>
        </div>
        <div class="date">16 OTT 2019</div>
        <p>Nadi è una delle città più grandi e la prima fermata per la maggior parte dei visitatori sulle Figi, una città culturalmente diversificata di 30.000 persone. La spiaggia di Nadi è una spiaggia ampia, perfetta per rilassarsi al sole e guardare i tramonti.</p>
      </div>
    </div>  

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="lr timeline-img-header">
          <h3 class="timeline-title">Lomani Resort, Figi</h3>
        </div>
        <div class="date">18 OTT 2019</div>
        <p>Il resort sorge su una splendida spiaggia di sabbia bianca protetta da una bellissima barriera corallina sull’isola di Malolo Lailai, facente parte.</p>
      </div>
    </div>
  </div>
</section>  
