<section class="timeline">
  <div class="container">
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
          <div class="auckland timeline-img-header">
            <h3 class="timeline-title">Auckland</h3>
          </div>
        <div class="date">1 OTT 2019</div>
        <p>Auckland viene giustamente definita la “città delle vele” per il numero sorprendente di barche che è possibile ammirare nella baia, praticamente a qualsiasi ora del giorno. Il cuore della città è Queen Street, bella e sobria via principale, lungo la quale i negozi di abbigliamento elegante si alternano a quelli di articoli sportivi, alle banche ed uffici cambio, ai teatri e ai ristoranti.</p>
      </div>
    </div> 

    <div class="timeline-item">
        <div class="timeline-img"></div>
        <div class="timeline-content timeline-card js--fadeInRight">
          <div class="nz timeline-img-header">
            <h3 class="timeline-title">Nuova Zelanda</h3>
          </div>
          <div class="date">3 OTT 2019</div>
          <p>"L'ottava meraviglia del mondo" così la definì Kipling nel descriverla. La Nuova Zelanda rappresenta la poliedricità in assoluto: le sue due isole, North Island (Isola del Nord) e South Island (Isola del Sud) di fronte all'Australia meridionale, sono uno dei tre vertici del mondo polinesiano, il paese più popolato, forse anche quello più moderno, ma senz'altro il più atipico dell'intero Pacifico. Un territorio che unisce i riflessi argentei dei laghi alpini, al mare più profondo che lo circonda completamente.</p>
        </div>
      </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="coromandel-peninsula timeline-img-header">
          <h3 class="timeline-title">Coromandel Peninsula</h3>
        </div>
        <div class="date">25 MAY 2016</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
        <a class="bnt-more" href="javascript:void(0)">More</a>
      </div>
    </div>   

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <div class="date">3 JUN 2016</div>
        <h3 class="timeline-title">Quote</h3>
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta explicabo debitis omnis dolor iste fugit totam quasi inventore!</blockquote>
      </div>
    </div>   

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInRight">
        <h3 class="timeline-title">Title</h3>
        <div class="date">22 JUN 2016</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
        <a class="bnt-more" href="javascript:void(0)">More</a>
      </div>
    </div>   

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="timeline-img-header">
          <h3 class="timeline-title">Card Title</h3>
        </div>
        <div class="date">10 JULY 2016</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
        <a class="bnt-more" href="javascript:void(0)">More</a>
      </div>
    </div>   

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header">
          <h3 class="timeline-title">Card Title</h3>
        </div>
        <div class="date">30 JULY 2016</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
        <a class="bnt-more" href="javascript:void(0)">More</a>
      </div>
    </div>  

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <div class="date">5 AUG 2016</div>
        <h3 class="timeline-title">Quote</h3>
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta explicabo debitis omnis dolor iste fugit totam quasi inventore!</blockquote>
      </div>
    </div>   

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header">
          <h3 class="timeline-title">Card Title</h3>
        </div>
        <div class="date">19 AUG 2016</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
        <a class="bnt-more" href="javascript:void(0)">More</a>
      </div>
    </div>  

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <div class="date">1 SEP 2016</div>
        <h3 class="timeline-title">Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
        <a class="bnt-more" href="javascript:void(0)">More</a>
      </div>
    </div>
  </div>
</section>  