<div class="lista-viaggio-dettagli" id="lista-viaggio-dettagli-section">
  <h2 class="title">Viaggio</h2>
  <app-timeline></app-timeline>

  <div class="info">
    <h3 class="sub-title">Come partecipare</h3>
    <p>Se volete partecipare al nostro regalo potete:</p>
    <ul>
      <li>effettuare un bonifico bancario alle coordinate bancarie che troverete in fondo</li>
      <li>recarvi all’agenzia Club dei Viaggi a Mondovì (CN) in Via Sant&#39;Agostino, 17 <a href="tel:017443493">Tel. 0174- 43493</a></li>
    </ul>
    <p>Ancora più importante è che vi chiediamo di dedicarci un augurio che potrete scrivere di vostro pugno in agenzia o inviare via mail (<a href="mailto:agenzia@clubdeiviaggi.it">agenzia@clubdeiviaggi.it</a>) all’agenzia che lo trascriverà sul nostro album ricordo a cui poi aggiungeremo le foto del nostro meraviglioso viaggio di nozze.</p>
    <p>Partecipando alla lista nozze, come omaggio e ringraziamento da parte di noi sposi, riceverete uno sconto su una prossima vacanza prenotata presso la nostra agenzia.</p>
    <p>Se volete più informazioni sul nostro viaggio di nozze potete contattare noi oppure chiamare l’agenzia di viaggi che saprà consigliarvi come partecipare con quote libere per tutte le componenti del viaggio.</p>
    <p>Potrete regalarci ad esempio, una cena a lume di candela sulla spiaggia, un’escursione o un trattamento benessere di coppia nella Spa dell’hotel e tante altre scelte!</p>

    <strong><fa-icon icon="info-circle"></fa-icon>Coordinate per bonifico:</strong>
    <p>BANCO DI CREDITO AZZOAGLIO - SEDE DI CEVA</p>
    <p>C/C 916516 - ABI 3425 - CAB 46190</p>
    <p>IBAN IT88Y0342546190000000091651</p>
    <p>INTESTATO A BLENGINI VIAGGI SRL</p>
    <p>CAUSALE: Viaggio di Nozze Emanuele e Maddalena</p>
  </div>
</div>