<div class="tabs">
  <ul class="tab-list">
    <li class="tab-list-item" *ngFor="let item of tabs">
      <a
        href="#{{ item.text | lowercase }}-panel"
        class="tab-list-item-link"
        (click)="activatePanel($event.target)">
        <h3>{{ item.text }}</h3>
      </a>
    </li>
  </ul>
  <div class="panel-container" *ngFor="let item of tabs">
    <div class="panel row" id="{{ item.text | lowercase }}-panel">
      <div class="col-sm-offset-3 col-sm-3">
        <img class="img" src="{{ item.panel.imgSrc }}" alt="" />
      </div>
      <div class="col-sm-3">
        <h4>{{ item.panel.content.heading }}</h4>
        <p>{{ item.panel.content.location }}</p>
        <p>{{ item.panel.content.time }}</p>
        <a href="{{ item.panel.content.mapBtn.href }}">
          {{ item.panel.content.mapBtn.text }}
        </a>
      </div>
    </div>
  </div>
</div>