@import '../../../../styles/settings';

img {
  width: 100%;
}

.tabs {
  &.mat-tab-group {
    margin-top: component-space(12);
  }

  .mat-tab-label {
    font-family: 'Dancing Script', cursive;
    @include fontsize(26);
    color: $secondary-color;
    display: inline-block;
    padding: component-space(1);
    text-decoration: none;
    border-bottom: 4px solid transparent;
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
    min-width: 160px;

    &.mat-tab-label-active, &:hover {
      opacity: 1;
      border-bottom-color: $secondary-color;
    }

    &:hover {
      color: $secondary-color;
    }
  }

  .tab-panel-container {
    .img-left {
      width: 100%;
      
      @include breakpoint(sm) {
        float: left;
        width: 50%;
        height: 450px;
      }
    }

    .tab-info-right {
      margin-top: component-space(4);

      @include breakpoint(sm) {
        text-align: left;
        display: inline-block;
        width: 50%;
        padding-left: component-space(5);
      }
    }
  }

  .mat-tab-body {
    margin-top: component-space(6);
  }
  
  .title {
    margin-bottom: component-space(4);
    @include fontsize(24);
    font-weight: 700;
    color: $generic-text;
  }
}

fa-icon {
  display: inline-block;
  width: component-space(4);
  margin-right: component-space(2);

  &[icon="map-marker-alt"] {
    text-align: center;
  }
}

.btn {
  margin-top: component-space(8);

  @include breakpoint(sm) {
    margin-top: component-space(10);
  }
}