@import '../../../../styles/settings';

$opacity-white: rgba(255, 255, 255, 0.5);

:host {
  background-color: $tertiary-color;
}

.header {
  background-color: $opacity-white;
}

nav {
  @include clearfix;
}

.list {
  float: right;
}

.list-item {
  display: inline-block;
  padding: component-space(3);
}

.list-item-link {
  display: inline-block;
  padding: component-space(2);
  font-weight: 400;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease-in-out;

  &:hover {
    color: $secondary-color;
    border-bottom-color: $secondary-color;
    cursor: pointer;
  }
}