@import '../../../../styles/settings';

.footer {
  background-color: #f8e7df;
  text-align: center;
  padding: component-space(8);
  padding: component-space(8);
  margin-top:component-space(8);
}

.title {
  margin-bottom: component-space(5);
}
